<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app</key>
	<array>
		<dict>
			<key>URL</key>
			<array>
				<string>https://plus.google.com/</string>
				<string>http://www.google.com/</string>
				<string>https://mail.google.com/</string>
				<string>http://www.google.com/reader/view/</string>
			</array>
			<key>appname</key>
			<string>Google</string>
			<key>foldername</key>
			<string>google</string>
		</dict>
		<dict>
			<key>URL</key>
			<array>
				<string>https://facebook.com</string>
				<string>https://www.facebook.com/?sk=inbox</string>
				<string>https://www.facebook.com/?sk=ff</string>
				<string>https://www.facebook.com/?sk=events</string>
			</array>
			<key>appname</key>
			<string>Facebook</string>
			<key>foldername</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>URL</key>
			<array>
				<string>https://twitter.com</string>
				<string>https://twitter.com/#!/mentions</string>
				<string>https://twitter.com/#!/messages</string>
				<string>https://twitter.com/#!/search-home</string>
			</array>
			<key>appname</key>
			<string>Twitter</string>
			<key>foldername</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>URL</key>
			<array>
				<string>http://www.dribbble.com/</string>
				<string>http://dribbble.com/shots/new</string>
				<string>http://dribbble.com/highlights/</string>
				<string>http://dribbble.com/buckets</string>
			</array>
			<key>appname</key>
			<string>Dribbble</string>
			<key>foldername</key>
			<string>dribbble</string>
		</dict>
		<dict>
			<key>URL</key>
			<array>
				<string>http://www.quora.com/</string>
				<string>http://www.quora.com/inbox</string>
				<string>http://www.quora.com/notifications</string>
				<string>http://www.quora.com/browse</string>
			</array>
			<key>appname</key>
			<string>Quora</string>
			<key>foldername</key>
			<string>quora</string>
		</dict>
		<dict>
			<key>URL</key>
			<array>
				<string>http://www.instapaper.com/u</string>
				<string>http://www.instapaper.com/browse</string>
				<string>http://www.instapaper.com/liked</string>
				<string>http://www.instapaper.com/archive</string>
			</array>
			<key>appname</key>
			<string>Instapaper</string>
			<key>foldername</key>
			<string>instapaper</string>
		</dict>
	</array>
</dict>
</plist>
